<%- include('../partials/header.ejs')%>
<main>
    <div class="course-header">
        <h2>Student Question</h2>
    </div>
    <div class="student-question-container">
        <div class="student-info-row">
            <span class="tag"><%= question.tag %></span>
            <span class="student-name"><%= question.user.fullName %></span>
        </div>
        <div class="question-info-row">
            <label for="question">Question:</label>
            <p class="question-area"><%= question.text %></p>
        </div>
        <div class="resolve-buttons">
            <form class="resolve-container" method="POST" action="/courses/<%= course.id %>/questions/<%= question.id %>?_method=PUT">
                <button class="resolve-button" type="submit" value="unresolved" name="status">Unresolved</button>
                <button class="unresolve-button" type="submit" value="resolved" name="status">Resolved</button>
          </form>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>