<%- include('../partials/header.ejs')%>
<main>
    <div class="course-header">
        <h2>Welcome to <%= course.courseName %></h2>
            <a href="/courses/<%= course.id %>/schedule" class="button" id="add-schedule-button">View Schedule</a>
    </div> 
    <div class="queue-container"> 
        <p>Here is where you will find information about the queue</p>
            <% if (questions.length) { %>
                <div class="question-grid">
                  <% questions.forEach(question => { %>
                    <div class="question-container">
                      <div class="tag">
                        <p id="tag"><%=question.tag %></p>
                      </div>
                      <div class="studentName">
                        <p><%=question.user.fullName%></p>
                      </div>
                      <div class="question">
                        <p><%=question.text%></p>
                      </div>
                      <button class="claim">Claim</button>
                    </div>
                  <% }); %>
                </div>
              <% } else { %>
                <p class="noQuestions">There are no questions to display</p>
              <% } %>
    </div>
</main>
<%- include('../partials/footer.ejs')%>